{% extends 'base.html' %}
{% load static %}

{% block title %}JSS{% endblock %}
{% block link %}{% static 'css/index.css' %}{% endblock %}

{% block content %}

<div class="create_jss">
    <a href="{% url 'create' %}">
        <div class="plus_btn">
            +
        </div>
    </a>
    <p>자기소개서 작성</p>
</div>
<br>
<!-- 보는 부분 -->
{% if user.is_authenticated %}
<a href="{% url 'my_index' %}">
    <button id="list_btn">내 자기소개서 보기</button>
</a>
<a href="{% url 'index' %}">
    <button id="list_btn">모든 자기소개서 보기</button>
</a>
<br>
{% endif %}

{% for jss in all_jss %}
<a href="{% url 'detail' jss.id %}">
    <div class="all_jss">
        <p>{{ jss.author }}</p>
        <p>{{ jss.title }}</p>
        <p>{{ jss.content }}</p>
        <p>{{ jss.updated_at|date:"Y-m-d"}}</p>
    </div>
</a>
{% endfor %}
{% endblock %}